<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="URLforDownload" value="http://192.168.18.225:1616/Deployment/Client"/>
    <add key="URLRptDownload" value="http://192.168.18.225:1616/Deployment/Report"/>

    <add key="Version" value=".:: FlexCustodian 6.04 On Apr-2011 ::."/>
    <add key="Broker.IsDirect" value="Y"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="PrefixedCustodyCode" value="085"/>
    <add key="AutoPTGuaranteeT0" value="N"/>
    <!--<add key="CultureInfo" value="en-US"/>-->
    <add key="CultureInfo" value="vi-VN"/>
    <add key="SystemMenuHideDefault" value="N"/>
    <add key="CustomizeMenuHideDefault" value="N"/>
    <add key="NumberDecimalSeparator" value="."/>
    <add key="NumberGroupSeparator" value=","/>
    <add key="PhoneCalllistening" value="N"/>
    <!-- Quote config if PhoneCalllistening =Y -->
    <add key="QuoteClientId" value="Flex"/>
    <add key="QuoteBrokerURL" value="activemq:tcp://192.168.121.207:61216"/>
    <add key="QuoteDataName" value="NTSInternal"/>
    <add key="QuoteIsQueue" value="true"/>
    <add key="QuoteUsername" value="admin"/>
    <add key="QuotePassword" value="admin@123"/>
    <!-- Quote config if PhoneCalllistening =Y -->

    <add key="BranchList" value=""/>

    <!--<add key="HaNoiServerIPList" value="TEST-192.168.17.29/BDSService|UAT-192.168.111.25/BDSService|TEST1-192.168.111.27/BDSService"/>-->
    <!--<add key="HCMServerIPList" value="DEVHCM-192.168.17.29/BDSServiceDEVHCM|UATHCM-192.168.111.25/BDSService|TESTHCM-192.168.111.27/BDSService"/>-->
    <!--<add key="DaNangServerIPList" value="DEV-192.168.18.225:1616/BDSService|UAT-192.168.111.25/BDSService|TEST-192.168.111.27/BDSService"/>-->

    <!--<add key="BranchList" value="HoiSo:0001|HCM:0101|DaNang:0201|VungTau:0401|CanTho:0301"/>
    <add key="HoiSoServerIPList" value="CenterApp-192.168.121.12/BDSServiceGOLIVE|CenterApp1-192.168.121.10/BDSServiceGOLIVE|CenterApp2-192.168.121.11/BDSServiceGOLIVE"/>-->

    <add key="HaNoiURLforDownload" value="http://localhost/Deployment/Client"/>
    <add key="HaNoiURLRptDownload" value="http://localhost/Deployment/Report"/>
    <add key="HCMURLforDownload" value="http://localhost/Deployment/Client"/>
    <add key="HCMURLRptDownload" value="http://localhost/Deployment/Report"/>
    <add key="DaNangURLforDownload" value="http://localhost/Deployment/Client"/>
    <add key="DaNangURLRptDownload" value="http://localhost/Deployment/Report"/>
    <!--Broker desk section-->
    <add key="AllocateGuaranteeT0" value="N"/>

    <!--Market Status section-->
    <add key="AutoRefesh" value="Y"/>
    <add key="MarketInfoIntervalMinutes" value="1"/>
    <!--End market status section-->

    <!--Orders section-->
    <add key="AutoRefeshOrderList" value="Y"/>
    <add key="UpdateOrderIntervalMinutes" value="0.025"/>
    <add key="PPSEAsync" value="Y"/>
    <add key="ShowMessageNotifyOrderSent" value="N"/>
    <!--End orders section-->
    <!--Refesh PpSE-->
    <add key="RefeshPPSEWhenOrderAmountOver" value="Y"/>
    <add key="AllocateFor3rdCustody" value="N"/>
    <add key="INPUT_UNIT_PRICE" value="1000"/>
    <!--End orders section-->
    <add key="KeepCustodyCodeAfterPlaceOrders" value="N"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBDSService" maxBufferPoolSize="524288000"
                    maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                    <readerQuotas maxDepth="300" maxStringContentLength="83886089"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384000" />
                </binding>
                <binding name="BasicHttpBinding_IBDSRptService" maxBufferPoolSize="524288000"
                    maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                    <readerQuotas maxDepth="300" maxStringContentLength="83886089"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384000" />
                </binding>
                <binding name="BasicHttpBinding_IAuthService" maxBufferPoolSize="524288000"
                    maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                    <readerQuotas maxDepth="300" maxStringContentLength="83886089"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384000" />
                </binding>
                <binding name="ServiceSoap" />
                <binding name="StockTickerSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.18.225:1616/BDSService/BDSService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBDSService"
                contract="BDSService.IBDSService" name="BasicHttpBinding_IBDSService" />
            <endpoint address="http://192.168.18.225:1616/BDSService/BDSRptService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBDSRptService"
                contract="BDSRptService.IBDSRptService" name="BasicHttpBinding_IBDSRptService" />
            <endpoint address="http://192.168.18.225:1616/BDSService/AuthService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthService"
                contract="AuthService.IAuthService" name="BasicHttpBinding_IAuthService" />
            <endpoint address="http://localhost:38051/SMS/Service.asmx" binding="basicHttpBinding"
                bindingConfiguration="ServiceSoap" contract="SMSService.ServiceSoap"
                name="ServiceSoap" />
            <endpoint address="http://localhost:38051/SMS/Service.asmx" binding="customBinding"
                bindingConfiguration="ServiceSoap12" contract="SMSService.ServiceSoap"
                name="ServiceSoap12" />
            <endpoint address="http://localhost:4620/Data/StockTicker.asmx"
                binding="basicHttpBinding" bindingConfiguration="StockTickerSoap"
                contract="WebStockTicker.StockTickerSoap" name="StockTickerSoap" />
        </client>
    </system.serviceModel>
</configuration>