<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- Register a section handler for the log4net section -->
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
    <section name="_DIRECT.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
	  <section name="BrokerScreen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="_DIRECT.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
     </configSections>
  <appSettings>
    <add key="URLforDownload" value="http://192.168.18.225:6996/Deployment/Client"/>
    <add key="URLRptDownload" value="http://192.168.18.225:6996/Deployment/Report"/>
    
    <add key="Version" value=".:: FlexCustodian 6.04 On Apr-2011 ::."/>
    <add key="Broker.IsDirect" value="Y"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="PrefixedCustodyCode" value="049"/>
    <add key="AutoPTGuaranteeT0" value="N"/>
    <!--<add key="CultureInfo" value="en-US"/>-->
    <add key="CultureInfo" value="vi-VN"/>
    <add key="SystemMenuHideDefault" value="N"/>
    <add key="CustomizeMenuHideDefault" value="N"/>
    <add key="NumberDecimalSeparator" value="."/>
    <add key="NumberGroupSeparator" value=","/>
    <add key="PhoneCalllistening" value="Y"/>
    <!-- Quote config if PhoneCalllistening =Y -->
    <add key="QuoteClientId" value="Flex"/>
    <add key="QuoteBrokerURL" value="activemq:tcp://192.168.121.207:61216"/>
    <add key="QuoteDataName" value="NTSInternal"/>
    <add key="QuoteIsQueue" value="true"/>
    <add key="QuoteUsername" value="admin"/>
    <add key="QuotePassword" value="admin@123"/>
    <!-- Quote config if PhoneCalllistening =Y -->
    
    <add key="BranchList" value=""/>    
    <add key="HaNoiServerIPList" value=""/>
    <add key="HCMServerIPList" value=""/>
    <add key="DaNangServerIPList" value=""/>

    <add key="HaNoiURLforDownload" value="http://localhost/Deployment/Client"/>
    <add key="HaNoiURLRptDownload" value="http://localhost/Deployment/Report"/>
    <add key="HCMURLforDownload" value="http://localhost/Deployment/Client"/>
    <add key="HCMURLRptDownload" value="http://localhost/Deployment/Report"/>
    <add key="DaNangURLforDownload" value="http://localhost/Deployment/Client"/>
    <add key="DaNangURLRptDownload" value="http://localhost/Deployment/Report"/>
    <!--Broker desk section-->
    <add key="AllocateGuaranteeT0" value="N"/>

    <!--Market Status section-->
    <add key="AutoRefesh" value="Y"/>
    <add key="MarketInfoIntervalMinutes" value="1"/>
    <!--End market status section-->

    <!--Orders section-->
    <add key="AutoRefeshOrderList" value="Y"/>
    <add key="UpdateOrderIntervalMinutes" value="0.025"/>
    <add key="PPSEAsync" value="Y"/>
    <add key="ShowMessageNotifyOrderSent" value="N"/>
    <!--End orders section-->
     <!--Refesh PpSE-->
    <add key="RefeshPPSEWhenOrderAmountOver" value="Y"/>
    <add key="AllocateFor3rdCustody" value="N"/>
    <add key="INPUT_UNIT_PRICE" value="1000"/>
    <!--End orders section-->
	<add key="KeepCustodyCodeAfterPlaceOrders" value="N"/>
	<add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IStockTicker" closeTimeout="00:50:00" openTimeout="00:50:00" receiveTimeout="00:50:00" sendTimeout="00:50:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536000" maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192000" maxArrayLength="16384000" maxBytesPerRead="4096000" maxNameTableCharCount="16384000"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="StockTickerSoap" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:20:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536000" maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192000" maxArrayLength="16384000" maxBytesPerRead="4096000" maxNameTableCharCount="16384000"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="BasicHttpBinding_IAuthService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536000" maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192000" maxArrayLength="16384000" maxBytesPerRead="4096000" maxNameTableCharCount="16384000"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="BasicHttpBinding_IBDSRptService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536000" maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192000" maxArrayLength="2147483647" maxBytesPerRead="4096000" maxNameTableCharCount="16384000"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="BasicHttpBinding_IBDSService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536000" maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192000" maxArrayLength="16384000" maxBytesPerRead="4096000" maxNameTableCharCount="16384000"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.18.225:6996/Data/StockTicker.asmx" binding="basicHttpBinding" bindingConfiguration="StockTickerSoap" contract="WebStockTicker.StockTickerSoap" name="StockTickerSoap"/>
      <endpoint address="http://192.168.18.225:6996/BDSService/AuthService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthService" contract="AuthService.IAuthService" name="BasicHttpBinding_IAuthService"/>
      <endpoint address="http://192.168.18.225:6996/BDSService/BDSRptService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBDSRptService" contract="BDSRptService.IBDSRptService" name="BasicHttpBinding_IBDSRptService"/>
      <endpoint address="http://192.168.18.225:6996/BDSService/BDSService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBDSService" contract="BDSService.IBDSService" name="BasicHttpBinding_IBDSService"/>
    </client>
  </system.serviceModel>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/broker-screen-log-file.txt"/>
      <appendToFile value="false"/>
      <encoding value="UTF-8"/>
      <rollingStyle value="Composite"/>
      <datePattern value="yyyyMMdd"/>
      <maxSizeRollBackups value="20"/>
      <maximumFileSize value="100MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level [%thread] %message %logger [%property{NDC}] - %newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="25"/>
    </connectionManagement>
    <settings>
      <servicePointManager expect100Continue="false"/>
    </settings>
  </system.net>
  <applicationSettings>
    <_DIRECT.My.MySettings>
      <setting name="FLEX_CUSTODY" serializeAs="String">
        <value>049C</value>
      </setting>
    </_DIRECT.My.MySettings>
    <BrokerScreen.Properties.Settings>
      <setting name="CUSTODY_CODE_PREFIX" serializeAs="String">
        <value>049C</value>
      </setting>
      <setting name="COLOR_BUY" serializeAs="String">
        <value>#a7ccf0</value>
      </setting>
      <setting name="COLOR_SELL" serializeAs="String">
        <value>#f5c5d9</value>
      </setting>
    </BrokerScreen.Properties.Settings>
  </applicationSettings>


  <userSettings>
    <_DIRECT.My.MySettings>
      <setting name="Text" serializeAs="String">
        <value>0</value>
      </setting>
    </_DIRECT.My.MySettings>
  </userSettings>
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
